*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.logo{
    height:80px;

}
header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80px;
}
.container{
    height:100%;
    width:1200px;
    max-width: 1200px;
    background-color: rgb(236, 89, 89);
    padding-top: 1rem;
    padding-bottom: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}
.header-ul{
    display: flex;
    flex-direction: row;

    list-style: none;
    
    

}
.header-li{
    margin-left: 32px;
    color: white;
    text-decoration: none;
}

.ad-image{
    height:100%;
    width:1200px;
}

.container-2{
    height: 100%;
    width: 1200px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;

}
main{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    
}
.collections-ul{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    list-style:none;
    margin-bottom: 16px;

}
.collections-li{
    text-decoration: none;
    color: black;
    font-size: 18px;
    margin-left: 24px;
    
    
}
.search{
    margin-bottom: 8px;
}

#search{
    border-color:rgb(245, 23, 23);
}
.shoes-img{
    width: 370px;
    height:463px;
}
.container-3{

    height: 100%;
    width: 1200px;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 32px;
    padding-top: 32px;

}
.shoes-ul{
    display: flex;
    flex-direction: row;
    list-style: none;
   
    background-color: rgb(239, 218, 218);
}
.shoes-li{
    margin-left: 32px;
    margin-top: 16px;
    margin-right:32px ;

}